/dist
/.idea
/src/jellyserve.egg-info
/src/__pycache__
/sample_project/__pycache__/
/sample_project/frontend/node_modules
/sample_project/frontend/package-lock.json
/sample_project/jellyserve
/sample_project/public/.runtime
/src/jellyserve/__pycache__
